{% extends 'ItcAdminBundle::layouts/new.html.twig' %}

{% import  'ItcAdminBundle::layouts/new.html.twig' as forms %}

{% block header %}

    <h1>Reversal\Reversal creation</h1>

{% endblock %}
    
{% block form %}

    <form action="{{ path('reversal_create') }}" method="post" {{ form_enctype(form) }}>

        <button class = 'menu_sys_save_button' type="submit"></button>

        {% set formPdl %}

            {% for pdline in form.pdlines %}
                    {{ form_row(pdline.oa1) }}
                    {{ form_row(pdline.N) }}
                    {{ form_row(pdline.summa1) }}
            {% endfor %}

        {% endset %}

        {{ form_widget(form) }}

        {{ formPdl }}
    </form>

{% endblock %}