{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}
    {# скрываем меню #}
{% endblock %}
{% block javascript %}
    {{ parent() }}    
{% endblock%}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block body %}
{#{{ tinymce_init() }}#}

<div class = 'menu_sys_top_menu_bg'></div>
<div class = 'menu_sys_main_conteiner'>
    <h1>Invoice\Invoice edit</h1>
    <br class = 'clr' />
    <hr />
    <form action="{{ path('invoice_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <div class = 'fl'>
            <button class = 'menu_sys_save_button' type="submit" alt="{{ "save"|trans }}"></button>
        </div>
        <div class = 'menu_sys_upper_form'>
        <div class = 'fl'>
            {{ form_row( edit_form.N ) }}
        </div>
                <div class = 'fl'>
            {{ form_row( edit_form.date ) }}
        </div>    
                        <div class = 'fl'>
            {{ form_row( edit_form.status ) }}
        </div> 
                            <div class = 'fl'>
            {{ form_row( edit_form.contract_id ) }}
        </div> 
                            <div class = 'fl'>
            {{ form_row( edit_form.summa1 ) }}
        </div> 
                            <div class = 'fl'>
            {{ form_row( edit_form.ucor ) }}
        </div> 
            
            
            
            {#{ form_widget(edit_form) }#}
        </div>
        <br class = 'clr' />
        <hr />
        
        <br class = 'clr' />
        <hr />
        
        
            <table class="records_list counters">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tariff</th>
                <th>Current indicators</th>
                <th>Previous indicators</th>
                <th>Delta</th>
                <th>Zumma</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{service.id}}</td>
                    <td>{{service.name}}</td>
                    <td>price:{{service.price}}<br>price1:{{service.price1}}<br>sale:{{sale}}</td>
                       {#% for pdline in edit_form.pdlines %}                    
                            {% if  service.id == pdline.oa1.get('value') %#}
                            <td> 
                                {#{ form_widget( pdline.summa2 ) }#} 
                            </td> 
                            {#% endif %}
                        {% endfor %#}
                   
                    {% for rest in rests %}
                        {% if  service.id == rest.l2 %}
                            <td>{{rest.sd}}</td>
                            <td>{{rest.od}}</td>
                            <td>{{rest.oc}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <div hidden="hidden" id='err1'>Some error</div>
        <br class = 'clr' />
    <hr />
        

        
             {% for pdline in edit_form.pdlines %}
                    {{ form_row( pdline.oa1 ) }}
                    {#{ form_row( pdline.N ) }#}
                    {{ form_row( pdline.summa1 ) }}
                    {{ form_row( pdline.summa2 ) }}
                    {#{ form_row( pdline.pdid) }#}

            {% endfor %}
    
    
        {#${ form_widget(meters_edit_form) }}
        <br class = 'clr' />
        <hr />
        {{ form_rest(meters_edit_form) }#}
    {{ form_rest(edit_form) }}
    </form>
</div>
{#
        <form action="{{ path('invoice_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
#}

{% endblock %}    
