{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block search %}

{% endblock %}
{% block javascript %}
    {{ parent() }}
    {{ form_javascript(search_form) }}
{% endblock %}
{% block css %}
    {{ parent() }}
    {{ form_stylesheet(search_form) }}
{% endblock %}
{% block menu %}
    {{ parent() }}
{% endblock%}
{% block body %}

    <h1>Payment\Payment list</h1>

    <div class = 'menu_sys_main_conteiner'>
        <h1> {{ ballance_message }} </h1>
        <div>
            <form action="{{ path( 'payment' ) }}" method="post" {{ form_enctype( balance_form ) }}>
                {{ form_rest( balance_form ) }}
                <button type="submit"> Закрыть месяц </button>
            </form>            
        </div>
        <div>
            <form action="{{ path( 'payment_search' ) }}" method="post" {{ form_enctype( search_form ) }}>
                <label> {{ "search" | trans }}:&#160; </label>
                {{ form_widget( search_form ) }}
                <button type="submit"> {{ "find"|trans }} </button>
            </form>
        </div>
        
        {% block navigation %}

            {% set q = 'payment'%}
            {% set route = app.request.get('_route') %}
            {% if route != path( q~'_search' ) %}

                {% include 'ItcAdminBundle::navigator.html.twig' with {'route': q } %}

            {% endif %}

            {% include 'ItcAdminBundle::addnew.html.twig' with {'route': q } %}

        {% endblock %}

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>N</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Oa1</th>
                    <th>Oa2</th>
                    <th>Txt1</th>
                    <th>Txt2</th>
                    <th>Summa1</th>
                    <th>Summa2</th>
                    <th>Summa3</th>
                    <th>House</th>
                    <th>Apart</th>
                    <th>Ucor</th>
                    <th>Dtcor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ summa.summa1 }}</td>
                    <td>{{ summa.summa2 }}</td>
                    <td>{{ summa.summa3 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% for entity in entities %}
                
                {% set contract = entity.getContract() %}
                {% set apartment = contract.getApartment() %}
                
                <tr>
                    <td><a href="{{ path('payment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.N }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.status }}</td>
                    <td>{{ entity.oa1 }}</td>
                    <td>{{ entity.oa2 }}</td>
                    <td>{{ entity.txt1 }}</td>
                    <td>{{ entity.txt2 }}</td>
                    <td>{{ entity.summa1 }}</td>
                    <td>{{ entity.summa2 }}</td>
                    <td>{{ entity.summa3 }}</td>
                    <td>{{ apartment.getHouse().street }} {{ apartment.getHouse().number }}</td>
                    <td>{{ apartment.getName() }}</td>
                    <td>{{ entity.ucor }}</td>
                    <td>{% if entity.dtcor %}{{ entity.dtcor|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a class='menu_sys_delete delete_object'
                           data-link="#tr_{{ entity.id }}" data-form="#delete_{{entity.id}}">
                            {{ "delete"|trans }}
                        </a>
                        <form id="delete_{{entity.id}}" action="{{ path('payment_delete_ajax', { 'id': entity.id }) }}" method="post">
                            {{ form_rest(delete_form[entity.id]) }}
                        </form>  
                        <a class = 'menu_sys_edit new_window' target= '_blank' href="{{ path('payment_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                        <a class = 'menu_sys_edit new_window' target= '_blank' href="{{ path('trans', { 'pdid': entity.id }) }}">{{ "transaction"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ block( "navigation" ) }}
        <div class="clear"></div>
    </div>
{% endblock %}