{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}{% endblock %}

{% block javascript %}

    {{ parent() }}
    {% include 'ItcAdminBundle:Menu:select2.js.twig' %}
    {{ form_javascript( form ) }}
{% endblock%}
{% block css %}

    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block body %}

    <h1>Payment\Payment creation</h1>

    <form action="{{ path('payment_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('payment') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}